[aria-label="Timeline: Trending now"] {
	display: none !important;
}

[aria-label="Timeline: Explore"] {
	display: none !important;
}

[role="tablist"] {
	display: none !important;
}

@keyframes fade {
	0% {
		transform: translate3d(0px, 20px, 0px);
		opacity: 0;
		animation-timing-function: ease-out;
	}
	100% {
		opacity: 1;
		transform: translate3d(0px, 0px, 0px);
	}
}

